<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<body>
<!-- Header Fragment -->
<div th:replace="~{fragments :: header}"></div>

<!--You can create your own ids for elements-->
<h1 th:text="'Friends (' + ${friendsCount} + ')'" id="friends">Friends</h1>
    <ul th:each="friend: ${friends}">
        <li th:text="${friend.forename + ' ' + friend.surname}" th:id="${friend.forename}"></li>
    </ul>

<!-- Footer Fragment -->
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>